

@{
    ViewBag.Title = "Home Page";
}
<h2>What is this app used for?</h2>
<br />

<div class="container">
    <p>
        This cookbook app serves as a means to organize and collect different cooking recipes into one place and manage them into a viewable, navigatable interface.

        Anyone can view individual recipes via the community page, where all the recipes will be listed under.
    </p>
    <p>
        Each entry will contain information such as what the dish is called, a brief description, a list of ingredients, and a step by step instruction on how to make the dish.

        To submit a recipe to the page, one must register a username, email, and password to create their own account. Once their account is created, they will be able to submit their own personal recipes to the website.
    </p>
</div>

<br />

<div style="text-align:center">
    <p>
        @Html.ActionLink("To submit a new recipe", "New", "Recipe", null, new { @class = "btn btn-primary" })
    </p>

    <p>
        @Html.ActionLink("To view the list of every recipe", "index", "Community", null, new { @class = "btn btn-primary" })
    </p>

    <p>
        @Html.ActionLink("To view a list of all the users that have submitted recipes", "index", "Users", null, new { @class = "btn btn-primary" })
    </p>
</div>



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@