@model IEnumerable<My_Cookbook.Models.Recipe>
@{
    /**/

    ViewBag.Title = "userRecipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.TargetUser's Recipes</h2>

@foreach (var recipe in Model)
{
    <div id="recipes">
        <h1> @Html.ActionLink(recipe.Name, "Details", "recipe", new { id = recipe.Id }, null)</h1>
        @recipe.Description
        <button class='btn btn-danger js-delete' data-recipe-id=@recipe.Id>Delete</button>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#recipes").on("click", ".js-delete", function () {
                //save reference to the button to get the Id for the url
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this recipe?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/recipes/" + button.attr("data-recipe-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Success");
                                button.parent("div").remove();
                            }
                        });
                    }
                });
            });

        });
    </script>
}