
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Community Recipe List</h2>

<div class="RecipeSubmit">
    <p>
        Click here to submit a new recipe:
        @Html.ActionLink("Submit a recipe", "New", "Recipe", null, new { @class = "btn btn-primary" })
    </p>
</div>

